<a href="https://colab.research.google.com/github/ktyptorio/FM-Data-Playground/blob/main/Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

path = "datafm22.xlsx"
dataset = pd.read_excel(path)

In [ ]:
datafm = dataset.copy()
datafm

Remove Whitespace

In [65]:
#Remove Whitespace in Columns
datafm.columns = datafm.columns.str.strip()

#Remove Whitespace in Cell
for i in datafm.columns:
  if datafm[i].dtype == 'object':
    datafm[i] = datafm[i].str.strip()
  else:
    pass

Update Format Height, Weight, Transfer Value dan Wage

In [66]:
#Update Format Kolom Height, Weight, dan Wage

datafm['Height'] = datafm['Height'].str.replace(' cm','')
datafm['Weight'] = datafm['Weight'].str.replace(' kg','')
datafm['Wage'] = datafm['Wage'].str.replace('£','')
datafm['Wage'] = datafm['Wage'].str.replace(' p/w','')
datafm['Wage'] = datafm['Wage'].str.replace(',','')

In [67]:
datafm['Transfer Value'] = datafm['Transfer Value'].str.split(' - ', expand=True)[1]
datafm['Transfer Value'] = datafm['Transfer Value'].replace(np.nan,'Not for Sale')
datafm['Transfer Value'] = datafm['Transfer Value'].str.replace('£','')
datafm['Transfer Value']

0         Not for Sale
1         Not for Sale
2                 231M
3         Not for Sale
4                 207M
              ...
115651              1M
115652            1.2M
115653            1.2M
115654            3.2M
115655            3.6M
Name: Transfer Value, Length: 115656, dtype: object

In [68]:
#Update Format Kolom Transfer Value

def value_to_int(df_value):
    try:
        value = df_value[:-1]
        suffix = df_value[-1:]

        if suffix == 'M':
            value = float(value) * 1000000
        elif suffix == 'K':
            value = float(value) * 1000
        else:
            value = df_value
    except ValueError:
        value = 0
    return value

for x in range(len(datafm['Transfer Value'])):
  datafm['Transfer Value'][x] = value_to_int(datafm['Transfer Value'][x])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [69]:
datafm[['Name','Transfer Value', 'Wage']]

                        Name Transfer Value     Wage
0               Lionel Messi   Not for Sale  1200000
1         Robert Lewandowski   Not for Sale   325000
2            Kevin De Bruyne    231000000.0   350000
3          Cristiano Ronaldo   Not for Sale   475000
4              Kylian Mbappé    207000000.0   425000
...                      ...            ...      ...
115651         Sam Rak-Sakyi      1000000.0      150
115652  Zain Silcott-Duberry      1200000.0      150
115653          Louis Flower      1200000.0      150
115654        Ronnie Stutter      3200000.0      150
115655         Mason Burstow      3600000.0     2500

[115656 rows x 3 columns]

Null Handling pada Kolom Wage

In [70]:
datafm[datafm['Wage'].isnull() == True]

Empty DataFrame
Columns: [Name, Position, Transfer Value, Preferred Foot, Wage, Style, Best Role, Best Pos, Club, Based, Division, Nat, Height, Weight, Age, CA, PA, Acc, Aer, Agg, Agi, Ant, Bal, Bra, Cmd, Com, Cmp, Cnt, Cor, Cro, Dec, Det, Dri, Ecc, Fin, Fir, Fla, Fre, Han, Hea, Jum, Kic, Ldr, Lon, L Th, Mar, Nat .1, OtB, 1v1, Pac, Pas, Pen, Pos, Pun, Ref, TRO, Sta, Str, Tck, Tea, Tec, Thr, Vis, Wor]
Index: []

[0 rows x 64 columns]

In [71]:
datafm['Wage'] = datafm['Wage'].replace('N/A','Unknown Wage')
datafm['Wage'] = datafm['Wage'].str.replace('-','0')

Null Handling pada Kolom Club dan Division

In [72]:
datafm[datafm['Club'].isnull() == True]

Empty DataFrame
Columns: [Name, Position, Transfer Value, Preferred Foot, Wage, Style, Best Role, Best Pos, Club, Based, Division, Nat, Height, Weight, Age, CA, PA, Acc, Aer, Agg, Agi, Ant, Bal, Bra, Cmd, Com, Cmp, Cnt, Cor, Cro, Dec, Det, Dri, Ecc, Fin, Fir, Fla, Fre, Han, Hea, Jum, Kic, Ldr, Lon, L Th, Mar, Nat .1, OtB, 1v1, Pac, Pas, Pen, Pos, Pun, Ref, TRO, Sta, Str, Tck, Tea, Tec, Thr, Vis, Wor]
Index: []

[0 rows x 64 columns]

In [73]:
datafm['Club'] = datafm['Club'].replace('','No Club')
datafm['Division'] = datafm['Division'].replace('-','No Division')

Rename Nama Kolom

In [74]:
datafm.rename(columns={'Nat':'Nation', 'Nat .1':'NatFin'}, inplace=True)

In [75]:
datafm[datafm['Transfer Value'] == 'Not for Sale']

,Name,Position,Transfer Value,Preferred Foot,Wage,Style,Best Role,Best Pos,Club,Based,...,Ref,TRO,Sta,Str,Tck,Tea,Tec,Thr,Vis,Wor
0,Lionel Messi,"AM (RC), ST (C)",Not for Sale,Left,1200000,Creative,Attacking Midfielder,AM (C),Paris SG,France (Ligue 1 Uber Eats),...,2,3,12,9,7,13,20,3,20,7
1,Robert Lewandowski,ST (C),Not for Sale,Right,325000,Intelligent,Pressing Forward,ST (C),FC Bayern,Germany (Bundesliga),...,2,3,18,16,8,16,16,3,13,18
3,Cristiano Ronaldo,"AM (L), ST (C)",Not for Sale,Either,475000,Intelligent,Poacher,ST (C),Man UFC,England (Premier Division),...,2,3,13,15,2,6,16,3,12,7
10,Manuel Neuer,GK,Not for Sale,Right,300000,Distributor,Sweeper Keeper,GK,FC Bayern,Germany (Bundesliga),...,16,20,11,16,3,14,12,18,12,16
13,Karim Benzema,ST (C),Not for Sale,Either,275000,Technical,Deep Lying Forward,ST (C),R. Madrid,Spain (First Division),...,2,2,14,14,9,16,19,3,17,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115565,Marcus Bufford,ST (C),Not for Sale,Right Only,Unknown Wage,Physical,Pressing Forward,ST (C),LOA Heat,Guam (Soccer League),...,3,1,8,4,1,2,1,3,3,3
115566,Bruno Lopes,M (L),Not for Sale,Right Only,5,Physical,Inverted Winger,M (L),Botafogo FC,Cape Verde (Fogo Premier),...,1,3,10,2,2,4,5,1,3,9
115571,Charly Musonda,AM (RLC),Not for Sale,Right,40000,Creative,Inverted Winger,AM (L),Chelsea,England (Premier Division),...,2,2,9,6,6,12,15,3,14,14
115577,Ross Barkley,M/AM (C),Not for Sale,Either,100000,Technical,Attacking Midfielder,AM (C),Chelsea,England (Premier Division),...,3,2,12,16,8,11,16,1,14,11
115578,Ruben Loftus-Cheek,M/AM (C),Not for Sale,Right,150000,Physical,Shadow Striker,AM (C),Chelsea,England (Premier Division),...,3,1,11,16,10,14,15,4,14,14

In [76]:
datafm.to_csv('datafm22.csv', index=False)