<a href="https://colab.research.google.com/github/ktyptorio/FM-Data-Playground/blob/main/Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np

path = "Data\datafm22.xlsx"
dataset = pd.read_excel(path)

In [13]:
datafm = dataset.copy()

Remove Whitespace

In [14]:
#Remove Whitespace in Columns
datafm.columns = datafm.columns.str.strip()

#Remove Whitespace in Cell
for i in datafm.columns:
  if datafm[i].dtype == 'object':
    datafm[i] = datafm[i].str.strip()
  else:
    pass

Update Format Height, Weight, Transfer Value dan Wage

In [15]:
#Update Format Kolom Height, Weight, dan Wage

datafm['Height'] = datafm['Height'].str.replace(' cm','')
datafm['Weight'] = datafm['Weight'].str.replace(' kg','')
datafm['Wage'] = datafm['Wage'].str.replace('£','')
datafm['Wage'] = datafm['Wage'].str.replace(' p/w','')
datafm['Wage'] = datafm['Wage'].str.replace(',','')

In [16]:
#Update Format Kolom Transfer Value

for i in range(len(datafm)):
  datafm['Transfer Value'][i] = datafm['Transfer Value'][i].split(' - ')[0]

datafm['Transfer Value'] = datafm['Transfer Value'].str.replace('£','')

def value_to_int(df_value):
    try:
        value = df_value[:-1]
        suffix = df_value[-1:]

        if suffix == 'M':
            value = int(value) * 1000000
        elif suffix == 'K':
            value = int(value) * 1000
        else:
            value = df_value
    except ValueError:
        value = 0
    return value

for x in range(len(datafm['Transfer Value'])):
  datafm['Transfer Value'][x] = value_to_int(datafm['Transfer Value'][x])

C:\Users\Ktyptorio\AppData\Local\Temp\ipykernel_22720\146341618.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datafm['Transfer Value'][i] = datafm['Transfer Value'][i].split(' - ')[0]
C:\Users\Ktyptorio\AppData\Local\Temp\ipykernel_22720\146341618.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datafm['Transfer Value'][x] = value_to_int(datafm['Transfer Value'][x])

Null Handling pada Kolom Wage

In [ ]:
datafm[datafm['Wage'].isnull() == True]

In [18]:
datafm['Wage'] = datafm['Wage'].replace('N/A','Unknown Wage')
datafm['Wage'] = datafm['Wage'].str.replace('-','0')

Null Handling pada Kolom Club dan Division

In [ ]:
datafm[datafm['Club'].isnull() == True]

In [19]:
datafm['Club'] = datafm['Club'].replace('','No Club')
datafm['Division'] = datafm['Division'].replace('-','No Division')

Rename Nama Kolom

In [20]:
datafm.rename(columns={'Nat':'Nation', 'Nat .1':'NatFin'}, inplace=True)

In [ ]:
datafm

In [160]:
datafm.to_csv('datafm22.csv', index=False)